/*
Baloo 2
Designed by Ek Type
*/
@font-face {
  font-family: "Baloo";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Baloo-Regular.ttf");
}

@font-face {
  font-family: "Baloo";
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/Baloo-Medium.ttf");
}

@font-face {
  font-family: "Baloo";
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/Baloo-SemiBold.ttf");
}

@font-face {
  font-family: "Baloo";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/Baloo-Bold.ttf");
}