<div class="background">
  <svg viewBox="0 0 1366 648" xmlns="http://www.w3.org/2000/svg">
    <g transform="translate(683,324) scale(1,1) translate(-683,-324)">
      <linearGradient id="lg-0.1155091526603178" x1="0" x2="1" y1="0" y2="0">
        <stop stop-color="rgba(204, 78, 204, 0.11917338709677427)" offset="0"></stop>
        <stop stop-color="rgba(255, 0, 246, 0.3036895161290323)" offset="1"></stop>
      </linearGradient>
      <path d="" fill="url(#lg-0.1155091526603178)" opacity="0.4">
        <animate attributeName="d" dur="10s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1" calcMode="spline"
          keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="0s"
          values="M0 0L 0 637.5739692417014Q 136.6 561.3177860117933  273.2 528.046996996298T 546.4 511.32806715572065T 819.6 417.7868688991965T 1092.8 350.18705272861797T 1366 308.0693767804282L 1366 0 Z;M0 0L 0 553.8684828909714Q 136.6 498.99109036039533  273.2 478.13755569459863T 546.4 449.53208456499004T 819.6 373.7812455441273T 1092.8 294.0911961865954T 1366 228.49946375546023L 1366 0 Z;M0 0L 0 621.6472303351354Q 136.6 546.8507518391697  273.2 520.2695888447893T 546.4 507.1411373996014T 819.6 420.3312845628395T 1092.8 285.6729100411634T 1366 307.76052626394556L 1366 0 Z;M0 0L 0 637.5739692417014Q 136.6 561.3177860117933  273.2 528.046996996298T 546.4 511.32806715572065T 819.6 417.7868688991965T 1092.8 350.18705272861797T 1366 308.0693767804282L 1366 0 Z">
        </animate>
      </path>
      <path d="" fill="url(#lg-0.1155091526603178)" opacity="0.4">
        <animate attributeName="d" dur="10s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1" calcMode="spline"
          keySplines="0.5 0 0.5 1;0.5 0 0.5 1;0.5 0 0.5 1" begin="-5s"
          values="M0 0L 0 629.2650792187922Q 136.6 573.0179290723316  273.2 557.6909001139672T 546.4 431.5013940494991T 819.6 351.8022362518233T 1092.8 383.51172291581975T 1366 224.98319269388918L 1366 0 Z;M0 0L 0 561.3747161706201Q 136.6 554.6399924733715  273.2 506.4686358748217T 546.4 496.3796372268411T 819.6 361.34448615189103T 1092.8 291.6864620193179T 1366 254.4517287433062L 1366 0 Z;M0 0L 0 538.7619269697548Q 136.6 584.2494587346434  273.2 559.122145837835T 546.4 432.3201424462047T 819.6 450.782276783341T 1092.8 327.97899487110055T 1366 330.6091122152467L 1366 0 Z;M0 0L 0 629.2650792187922Q 136.6 573.0179290723316  273.2 557.6909001139672T 546.4 431.5013940494991T 819.6 351.8022362518233T 1092.8 383.51172291581975T 1366 224.98319269388918L 1366 0 Z">
        </animate>
      </path>
    </g>
  </svg>
</div>

<style lang="scss">
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    svg {
      min-width: 900px;
      width: 100%;
      height: auto;
    }
  }
</style>